<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Aplicaciones Web con Django</title>
</head>
<body>
    <h1>Django y Python</h1>
    <h2>Te acompaña:{nombre} <h2>
    <p>Django es un framework web de alto nivel escrito en Python.</p>
    <p>Permite desarrollar aplicaciones web de forma rápida y segura.</p>
    <p>Con Python y Django podemos crear sitios dinámicos, seguros y escalables.</p>
    <p>Este es un ejemplo simple de plantilla HTML sin estilos, ideal para empezar.</p>
</body>
</html>